.note_card {
    background-color: #ffffff;
    padding: 20px;
    margin: 15px 0;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.note_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.note_card p {
    margin-bottom: 10px;
}

.trash_card {
    background-color: #ffeaea;
}

dialog {
    border: none;
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

dialog::backdrop {
    background: rgba(0,0,0,0.5);
}



.trash_txt {
    text-decoration: line-through;

}